.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    &--space-between {
        justify-content: space-between;

        & .button {
            min-width: 50px;
            flex-grow: 1;
            padding: 6px 15px;
            font-weight: 400;

            &:first-child {
                margin-right: 10px;
            }
        }
    }
}

.button-header__warpper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 40px;

    padding-right: 10px;
    box-sizing: border-box;

    transition: all 0.3s;

    &.black {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.button-burger {
    position: relative;
    padding: 0;
    display: block;

    width: 40px;
    height: 25px;

    background-color: transparent;
    border: none;

    z-index: 99;

    outline: none;

    &::before,
    &::after {
        content: "";
        position: absolute;
        display: block;

        width: 25px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);

        background-color: #000;
        border-radius: 5px;

        transition: all 0.2s;
    }

    &::before {
        top: 6px;
    }

    &::after {
        top: 12px;
        box-shadow: 0 6px 0 0 #000;
    }
}

.button-back {
    padding: 0;
    border: none;
    background-color: transparent;

    // position: absolute;
    display: block;
    z-index: 99;

    width: 40px;
    height: 40px;

    background-image: url("../images/icons/back.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
}

.button {
    border: none;
    padding: 0;

    display: inline-block;

    min-width: 110px;
  
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    text-decoration: none;
  
    padding: 6px 30px;
  
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  
    transition: all;
    transition-duration: 0.3s;
  
    cursor: pointer;

    &:focus,
    &:active {
        color: #fff;
        background-color: #000;
    }

    &--full {
        width: 100%;
        border-color: rgba(0, 0, 0, 0.5);
    }

    &--white {
        color: #fff;
        border: none;
        font-weight: 700;

        padding: 6px 10px;

        &:focus,
        &:active {
            color: @color-yellow;
            background-color: rgba(0, 0, 0, 0);
        }
    }

    // &--yellow {
    //     color: #000;
    //     background-color: @color-yellow;

    //     &:focus,
    //     &:active {
    //         color: #fff;
    //         background-color: #000;
    //         border-color: #fff;
    //     }
    // }
}