.calendar__content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.calendar__slider {
    border-bottom: 4px solid #e1e1e1;

    min-height: 165px;

    // padding-bottom: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;

    overflow: hidden;
}
.calendar__soon {
    border-bottom: 4px solid #e1e1e1;

    padding: 0 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    & .slider__item {
        width: 100%;
        padding: 0;
    }
}

.calendar__month-wrapper {
    overflow: scroll;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.calendar__month {
    display: flex;
    justify-content: space-between;

    & a {
        color: rgba(0,0,0,.8);
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        padding: 3px 7px 3px 0;

        &:hover,
        &:focus,
        &:active {
            color: rgba(0,0,0,.8);
            text-decoration: none;
        }

        &.active {
            color: @color-red;
        }
    }
}