.form {
    padding-top: 0;
}

.form__input,
.form__textarea {
    width: 100%;

    padding: 5px 10px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    margin-bottom: 10px;

    box-sizing: border-box;
    outline: none;

    &:focus {
        border-color: rgba(0, 0, 0, 1);
    }
}

.form__textarea {
    resize: none;
    margin-top: 10px;
}