.main {
    display: block;

    width: 100%;
    min-height: 100vh;

    background: #fff;

    overflow-x: hidden;
}

.main__content {
    padding-top: 77px;
}

.main__header {
    display: block;
    width: 100%;

    background-color: @color-yellow;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);

    position: fixed;
    top: 0;
    left: 0;

    z-index: 10;

    &::before {
        content: "";
        position: absolute;
        display: block;

        width: 100vw;
        height: 30vh;

        top: -30vh;
        left: 0;

        background-color: @color-yellow;
    }
}

.main__header-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 5px 15px;
}

.main__header-logo {
    margin-left: 10px;
    height: 20px;
}

.main__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
}

.main__nav-item {
    flex-grow: 1;
}

.main__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    width: 100%;
    height: 40px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px;

    & .main__nav-icon {

        & path,
        & polygon,
        & circle {
            stroke: rgba(0, 0, 0, 0.5);
        }

        // &--main {
        //     & path,
        //     & polygon,
        //     & circle {
        //         stroke: rgba(0, 0, 0, 0.23);
        //     }
        // }

        &--project {
            fill: rgba(0, 0, 0, 0.5);
        }
    }

    &.active {
        border-bottom: 2px solid @color-red;
        opacity: 1;

        & .main__nav-icon {

            & path,
            & polygon,
            & circle {
                stroke: rgba(0, 0, 0, 0.9);
            }

            // &--main {
            //     & path,
            //     & polygon,
            //     & circle {
            //         stroke: rgba(0, 0, 0, 0.4);
            //     }
            // }

            &--project {
                fill: rgba(0, 0, 0, 0.9);
            }
        }
    }
}

.main__container {
    padding: 0 20px;

    & .calendar__soon {
        padding: 0;
        margin-bottom: 0;
        border: none;
    }
}

.main__title,
.main__title-inner {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: left;

    margin-bottom: 15px;

    &--single {
        padding: 15px 20px;
        margin-bottom: 0;
    }
}

.main__title-inner {
    margin-bottom: 5px;
}

.main__text,
.main__list,
.main__list-wrapper ul,
.main__list-wrapper p {
    margin: 0;
    padding: 0;

    font-size: 14px;

    border-bottom: 3px solid rgba(0, 0, 0, 0.2);

    padding-bottom: 10px;
    // margin-bottom: 10px;
}

.main__text,
.main__list-wrapper ul {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main__text:first-child {
    padding-top: 20px;
}

.main__list-wrapper li {
    list-style: none;

    &:last-of-type {
        border: none;
        padding-bottom: 0;
    }
}

.main__item {
    &--indent {
        margin-bottom: 15px;
    }
}

.main__text-bold {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}

.main__logo {
    display: block;
    width: 100%;
    height: 100vh;

    background-color: @color-yellow;
    background-image: url("../images/logo/logo-main.png");
    background-repeat: no-repeat;
    background-position: center;

    background-size: 200px;
}