.menu {
    position: fixed;
    z-index: 19;

    top: 0;
    left: 0;

    display: block;
    width: 270px;
    height: 100vh;

    transform: translateX(-100%);
    transition: transform ease-out 0.2s;

    background-color: #fff;

    padding-bottom: 20px;

    overflow-y: auto;

    box-sizing: border-box;

    &.open {
        transform: translateX(0);

        & + .menu__open-stub {
            z-index: 16;
            position: fixed;
            display: block;

            width: 100%;
            height: 100%;

            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.menu__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding: 20px 0;

    color: @color-yellow;
    background-color: #000;
}

.menu__image {
    margin-bottom: 10px;
}

.menu__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu__top-text {
    font-size: 8px;
    line-height: 12px;
    text-transform: uppercase;
}

.menu__middle {
    display: block;

    color: #000;
    background-color: @color-yellow;
    padding: 10px;
}

.menu__text,
.menu__status,
.project__date {
    display: block;
    width: 100%;

    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-weight: 500;
}

.menu__status,
.project__date {
    margin-top: 3px;
    padding: 4px 0;
    text-transform: uppercase;

    border: 1px solid #000;
    border-radius: 3px;
}

.menu__list {
    padding: 0;
    margin: 0;
    list-style: none;

    margin: 0 10px;
    padding-top: 30px;
}

.menu__item {
    margin-bottom: 5px;
}

.menu__link {
    position: relative;
    display: flex;
    align-items: center;

    color: #000;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 700;

    opacity: 0.9;

    padding: 10px 0;
    padding-left: 60px;

    background-repeat: no-repeat;
    background-position: 10px 5px;
    background-size: 25px;

    &:hover,
    &:focus,
    &:active {
        color: @color-yellow;

        & svg path,
        & svg polygon,
        & svg circle  {
            stroke: @color-yellow;
        }
    }

    &--project {

        &:hover,
        &:focus,
        &:active {
            & svg path,
            & svg polygon,
            & svg circle  {
                stroke: @color-yellow;
            }
        }
    }
}

.menu__icon,
.main__nav-icon {
    position: absolute;

    left: 12px;

    & svg {
        width: 22px;
        height: 22px;

        & path,
        & polygon,
        & circle {
            stroke: rgba(0, 0, 0, 0.7);
        }
    }

    // &--main {
    //     & svg path,
    //     & svg polygon,
    //     & svg circle {
    //         stroke: rgba(0, 0, 0, 0.4);
    //     }
    // }

    &--project {
        fill: rgba(0, 0, 0, 0.7);
    }
}

.main__nav-icon {
    position: relative;
    left: 0;
}

.menu__open-stub {
    display: none;
}