.project {
    padding-bottom: 20px;
}

.project__wrapper {
    & .slider__item {
        margin-bottom: 10px;
    }
}

.project__slider-content {
    position: relative;

    padding: 25px 0;
    height: ~"calc(100vh - 77px)";

    box-sizing: border-box;

    &::before,
    &::after {
        content: "";
        position: absolute;
        display: block;

        width: 25px;
        height: 100%;

        top: 0;

        z-index: 9;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    & .project__slider {
        margin-bottom: 0;
    }
}

.project__slider {
    display: flex;
    justify-content: center;

    height: 100%;

    overflow: hidden;
}

.project__button {
    margin-top: auto;
    min-height: 31px;
}

.project__header {
    display: block;

    width: 100%;

    color: rgba(255, 255, 255, 0.8);

    background-color: #000;

    margin-bottom: 15px;
}

.project__image {
    height: 280px;

    background-image: url("../images/photo/slider-stub.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 100%;

    font-size: 20px;
    line-height: 26px;
    text-align: center;
    font-weight: 400;
    
    margin-top: auto;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.project__info-wrapper {
    padding: 10px;
}

.project__date {
    font-weight: 400;

    border-color: rgba(255, 255, 255, 0.3);

    margin-bottom: 10px;
    box-sizing: border-box;
}

.priject__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    line-height: 18px;
    font-weight: 300;

    margin-bottom: 10px;
}

.project__round {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    font-size: 10px;
    line-height: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;

    float: left;
    margin-left: 5px;
}

.project__text {
    text-align: justify;
    font-size: 13px;
    line-height: 16px;

    & a {
        color: #fece22;
        text-decoration: none;
    }
}

.project__video {
    width: 100%;
    height: 48vw;

    border-radius: 5px;
    margin-bottom: 10px;

    border-radius: 5px;

    overflow: hidden;

    background-color: #000;

    & .iframe {
        display: block;

        width: 100%;
        height: 100%;
    }
}

.project__slider {
    margin-bottom: 20px;
}