.slider__item {
    display: block;

    width: 80vw;
    min-width: 80vw;

    padding: 0 5px;

    text-decoration: none;
}

.slider__image {
    position: relative;

    display: block;

    width: 100%;
    height: 130px;

    background-color: #1e1e1e;
    border-radius: 5px;

    background-image: url("../images/photo/slider-stub.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 20px;
    margin-bottom: 5px;

    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        display: block;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.4);
    }
}

.slider__date {
    position: relative;

    display: flex;
    align-items: center;

    z-index: 9;

    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;

    width: 100%;

    &::before,
    &::after {
        content: "";
        display: block;

        height: 2px;

        background-color: #fff;
    }

    &::before {
        width: 6%;
        margin-right: 10px;
    }

    &::after {
        flex-grow: 1;
        margin-left: 10px;
    }
}

.slider__text,
.slider__text-bold {
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

.slider__text-bold {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

.slider__date-small {
    display: block;
    font-size: 12px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
    font-weight: 700;
    // text-transform: lowercase;

    margin-top: 2px;
}

// Большой слайлер

.slider__big-item {
    display: flex;
    flex-direction: column;
    
    width: 80vw;
    min-width: 80vw;
    height: ~"calc(100vh - 125px)";

    background-color: @color-yellow;

    margin: 0 5px;
}

.slider__big-date {
    display: block;

    min-height: 32px;
    width: 100%;

    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    padding: 5px 0;

    box-sizing: border-box;
}

.slider__big-image {
    display: block;

    width: 100%;
    height: 200px;

    background-image: url("../images/photo/slider-stub.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider__text-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    padding: 15px;
    height: 100%;
}

.slider__big-title {
    display: block;

    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.slider__dig-item-text {
    height: 100%;

    color: rgba(0, 0, 0, 0.8);
    font-size: 11px;
    line-height: 14px;
    font-weight: 500;
    text-align: justify;

    margin-bottom: 12px;
    padding-top: 2px;

    overflow: hidden;
}

// Сладер с фото

.slider__item-photo {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 240px;
    // height: 180px;
    height: 48vw;
    margin-right: 10px;

    overflow: hidden;

    border-radius: 5px;
}

.slider__photo {
    position: absolute;

    // height: 100%;
    // width: auto;
    height: auto;
    width: 100%;

    border-radius: 5px;
}